# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
db.sqlite3

# IDE folders
.vscode/
.idea/

# Python test/cache folders
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Jupyter notebooks
.ipynb_checkpoints/

# MyPy, Ruff, Pyre, Pytype
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/

# Sphinx build
docs/_build/

# Local environment files
.envrc

# Debug files
debug.ipynb
debug_extract.py
.ipynb